* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dosis", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #432c2c;
}

.header {
  background-color: #73a0a8;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 18px;
  line-height: 20px;
  transition: 0.3s;
  text-decoration: none;
  font-size: 22px;
  font-weight: 300;
  line-height: 50px;
  color: #f6fff7;
  position: relative;
}

.nav-link:hover {
  color: #432c2c;
  transition: color 0.5s;
}

.main {
  background-color: #f6fff7;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: 50%;
  padding: 15px;
  padding-bottom: 25px;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #73a0a8;
  border-bottom: 1px solid #432c2c;
}

.section-main-title {
  padding: 0;
  margin-bottom: 20px;
  color: #432c2c;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 50px;
  word-spacing: 3px;
}

.section-main-subtitle {
  margin-top: 20px;
  color: #73a0a8;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 0px;
  text-align: center;
}

.section-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-item {
  position: relative;
}

.section-item a {
  color: #73a0a8;
  text-decoration: none;
  transition: color 0.5s;
}

.section-item a:hover {
  color: #432c2c;
}

.footer {
  background-color: #73a0a8;
  padding: 15px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #f6fff7;
}

.rs-school {
  width: 125px;
  height: 50px;
  background-image: url("./assets/rs-school-js.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.photo {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 20%;
  box-shadow: 0 1px 4px rgb(0 0 0 / 50%);
}

.pre {
  padding: 0;
  margin: 0;
}

.code {
  background-color: #eeeef0;
}
